<footer>
    <div class="jumbotron front-footer text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-xs-12">
                    <h3>All encounters are reunions after a long separation.</h3>
                    <p>Built by the DuanYi</p>
                    <p>POWER BY <strong>Django</strong></p>
                </div>
                <div class="col-md-5 col-xs-12">
                    <h2>CONTACT ME</h2>
                    <ul class="list-unstyled contact-info">
                        <li><i class="iconfont">&#xe69f;</i>&emsp;<a href="https://github.com/yumendy">yumendy</a></li>
                        <li><i class="iconfont">&#xe6a5;</i>&emsp;yumendy@163.com</li>
                        <li><i class="iconfont">&#xe829;</i>&emsp;<a href="https://www.zhihu.com/people/yumendy">段艺</a></li>
                        <li><i class="iconfont">&#xe602;</i>&emsp;<a href="http://weibo.com/duanyi1995">雨翌</a></li>
                    </ul>
                </div>
                <div class="col-md-12 col-xs-12 text-center copy-right">
                    <p>&copy; COPYRIGHT BY DuanYi 2016</p>
                </div>
            </div>
        </div>
    </div>
</footer>