
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1471157895'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1471157895#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1471157895') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1471157895') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1471157895#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:22px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-weibo-copy:before { content: "\e602"; }
.icon-github:before { content: "\e69f"; }
.icon-email:before { content: "\e6a5"; }
.icon-zhihu:before { content: "\e829"; }
